---
import { APP } from "../../config.mjs";
---

<div class="bg-black text-gray-200 w-full flex items-center px-5 py-[5px]">
  <a href={APP.githubLink} target="_blank" rel="noopener noreferrer">
    <h3 class="font-mono text-[0.75rem] uppercase hover:opacity-75">
      View source on Github
    </h3>
  </a>
</div>
