---
import Link from "../components/core/Link.astro"
import Section from "../components/index/Section.astro"
import StatCard from "../components/index/StatCard.astro"
import Table from "../components/index/Table.astro"
import TopBar from "../components/index/TopBar.astro"
import Layout from "../layouts/BaseLayout.astro"

import { redis } from "../lib/redis"

import type { Stats } from "../lib/types"

const rawStats = (await redis.get("stats")) as string
const stats = JSON.parse(rawStats) as Stats

const {
  campaignIds,
  top10CampaignsSortedByParticipants,
  totalParticipations,
  uniqueUsers,
  last20ClaimsSortedByDate,
} = stats
---

<Layout title="Home">
  <TopBar />

  <div class="w-full grid grid-cols-1 md:grid-cols-3 bg-gray-50 h-[140px]">
    <div class="p-5 col-span-1 border border-gray-100">
      <h3 class="text-blue-700 font-bold text-lg lowercase">tide analytics</h3>
      <p class="text-gray-700 text-sm">
        Dashboard tracking
        <Link external href="https://www.tideprotocol.xyz">Tide Protocol</Link>
        campaigns data.
      </p>
    </div>

    <div class="p-5 col-span-2 hidden md:block border border-gray-100">
      <h3 class="text-lg font-bold">
        Want to use Tide to launch your next community discovery campaign?
      </h3>
      <p class="text-gray-700 text-sm max-w-xl">
        Tide is a decentralized attention and engagement protocol that allows you to
        launch open and fair campaigns on the blockchain. Get started
        <Link external href="https://fiveelementslabs.gitbook.io/tide/">here.</Link>
      </p>
    </div>
  </div>

  <div class="w-full grid grid-cols-1 sm:grid-cols-3">
    <StatCard
      title="Campaigns Launched"
      desc="Number of campaigns launched since inception."
      data={campaignIds.length}
    />

    <StatCard
      title="Total Participations"
      desc="Number of participation rewards distributed through campaigns."
      data={totalParticipations}
    />

    <StatCard
      title="Users Onboarded"
      desc="Number of unique users onboarded through campaigns."
      data={uniqueUsers}
    />
  </div>

  <Section
    title="Top Campaigns"
    description="Top 10 campaigns sorted by number of participants"
  />

  <Table
    columnNames={["Campaign name", "Participants", "Network", "Status"]}
    data={top10CampaignsSortedByParticipants as any}
  />

  <Section
    title="Recent reward claims"
    description="Rewards claimed sorted by latest date"
  />

  <Table
    columnNames={["User address", "Campaign name", "Reward token id", "Network", "Date"]}
    data={last20ClaimsSortedByDate as any}
  />

  <Section title="Audience data" description="All the current audiences sorted by size" />
</Layout>
